html {
  scroll-behavior: smooth;
  word-spacing: 0px;
  letter-spacing: 0px;
}

#info {
  scroll-margin-top: 125px;
}
body {
  margin: 0;
  font-family: "Roboto";
  background-color: #f8f9fa;
  text-indent: initial;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter";
}

.intro-undertitle::first-letter {
  font-size: 1.2em;
}

button {
  cursor: pointer;
}

header {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  color: white;
  background-color: #303b4d;
}

header a {
  margin-left: 15px;
  text-decoration: none;
  color: white;
}

.logo {
  margin-left: 0;
  display: flex;
  align-items: center;
}

.logo img {
  width: 40px;
  height: 40px;
  display: block;
}

.menu-toggle {
  display: none;
  background-color: transparent;
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 4px;
  font-size: 20px;
}

#menu-toggle {
  display: none;
}

header nav {
  display: flex;
  align-items: center;
}

nav > a {
  margin-left: 15px;
  padding-right: 10px;
  text-decoration: none;
  color: white;
}

nav > a:hover {
  color: #f5853f;
}

nav > a:visited {
  color: #ffffff;
}

footer > nav {
  padding-top: 25px;
  padding-bottom: 10px;
}

.contact-nav {
  background-color: #f5853f;
  padding: 8px 14px;
  border-radius: 4px;
}

.intro {
  text-align: center;
  background-color: #303b4d;
  padding-bottom: 75px;
  min-width: 10px;
  line-height: 70px;
}

.intro-title {
  color: white;
  max-width: 700px;
  padding-top: 100px;
  font-size: 3.5rem;
  margin: auto;
}

.intro-undertitle {
  color: #dcdcdc;
  margin: 20px auto 30px auto;
  max-width: 700px;
  font-size: 20px;
  line-height: 30px;
}

.intro-button {
  padding: 20px 40px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #f5853f;
  color: #ffffff;
  border: none;
  text-decoration: none;
}

.info {
  display: flex;
  flex-direction: column;
  margin: 100px 300px 50px;
}

.info-box {
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  background-color: white;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  transition: 0.3s;
}

.info-box:hover {
  border: 1px solid #000000;
}

.info-box-cafe {
  margin: 30px;
}

.info-box-cafe > h2 {
  margin-top: 0px;
}

.info-box-cafe-img {
  width: 150px;
  height: 150px;
  align-self: center;
  margin-right: 30px;
  border-radius: 5px;
}

.info-box-cafe-labels {
  margin-right: 5px;
  border-style: double;
  border-width: 3px;
  border-color: #d1d1d1;
  border-radius: 5px;
  background-color: #f8f9fa;
  cursor: default;
}

footer {
  text-align: center;
  color: white;
  background-color: #303b4d;
  padding: 25px;
}

.why {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 50px;
}

.why img {
  margin-left: 100px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
  float: left;
}

.why2 {
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 50px;
}

.why2 img {
  margin-right: 100px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.knoppen {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  justify-content: center;
  padding: 50px 150px 50px;
}

.knop-link {
  display: inline-block;
  border: 1px solid #000000;
  background-color: #ffffff;
  width: 200px;
  height: 60px;
  font-size: 20px;
  border-radius: 5px;
  margin: 0px 30px;
  line-height: 60px;
  text-align: center;
  color: #000000;
  text-decoration: none;
  font-family: "Inter";
}

.why2-gray {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  padding: 50px 100px 50px;
}

.why2-gray img {
  margin-right: 100px;
  width: 300px;
  height: 300px;
  border-radius: 5px;
}
.bullet {
  margin-bottom: 0;
}

.bullet-list {
  margin: 10px 0 25px;
  padding-left: 20px;
  list-style-type: disc;
  list-style-position: outside;
}

ul {
  list-style-type: disc;
  list-style-position: outside;
  margin: 0px;
  padding-left: 20px;
}

legend {
  text-transform: uppercase;
}

.contact-content {
  display: flex;
  gap: 20px;
  padding: 60px 100px;
}

.contact-content aside,
.contact-content form {
  flex: 1;
}

.contact-content img {
  width: 100%;
  border-radius: 6px;
}

.contact-content fieldset {
  border: 1px solid #d1d1d1;
  padding: 20px;
}

.contact-content input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  font-family: "Roboto";
  font-size: 15px;
}

.submit {
  background-color: #f5853f;
  color: #ffffff;
}

.contact-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.contact-table th,
.contact-table td {
  border: 1px solid #d1d1d1;
  padding: 10px;
  text-align: left;
}

.contact-table tbody tr:nth-child(even) {
  background-color: #cff;
}

.contact-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.cafe-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.cafe-table th,
.cafe-table td {
  border: 1px solid #d1d1d1;
  padding: 10px;
  text-align: left;
}

.cafe-table tbody tr:nth-child(even) {
  background-color: #cff;
}

.cafe-table tbody tr:nth-child(odd) {
  background-color: #fff;
}

.cookies {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #303b4d;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

#cookies:target {
  display: none;
}

.accept-cookies {
  background-color: #f5853f;
  color: #ffffff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
  cursor: pointer;
  text-decoration: none;
}

/* Mobiel css */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-toggle {
    display: block;
    margin-left: auto;
  }

  header nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-top: 15px;
  }

  #menu-toggle:checked ~ nav {
    display: flex;
  }

  header nav > a {
    margin-left: 0;
    padding: 12px 0;
    width: 100%;
    text-align: center;
  }

  .intro-title {
    font-size: 40px;
  }

  .intro-undertitle {
    font-size: 18px;
  }

  .info {
    margin: 80px 40px 40px;
  }

  .info-box {
    flex-direction: column;
    position: static;
  }

  .info-box-cafe-img {
    margin-right: 0px;
    margin-bottom: 20px;
    width: 200px;
    height: 200px;
    position: static;
  }

  .why,
  .why2,
  .why2-gray {
    flex-direction: column;
    padding: 50px 40px 50px;
  }

  .why img,
  .why2 img,
  .why2-gray img {
    margin-left: 0px;
    margin-right: 0px;
    max-width: 300px;
    height: 300px;
    float: none;
  }

  .knoppen {
    flex-direction: column;
    align-items: center;
    padding: 50px 40px 50px;
  }

  .knop-link {
    margin: 0px;
    margin-bottom: 20px;
  }

  .contact-content {
    flex-direction: column;
  }

  .cafe-table {
    display: none;
  }
}

/* Desktop css */
@media (min-width: 1200px) {
  .intro {
    padding-bottom: 100px;
  }

  .intro-title {
    font-size: 4rem;
  }

  .info {
    margin: 140px 380px 80px;
  }

  .why,
  .why2,
  .why2-gray {
    padding: 90px 180px 90px;
  }
}
