html {
  scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: #F8F9FA;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    color: white;
    background-color: #303B4D
}
header h2 {
    margin-left: 15px;
}

nav a {
    margin-left: 15px;
    padding-right: 10px;
    text-decoration: none;
    color: white;
}

.intro {
    text-align: center;
    background-color: #303B4D;
    padding-bottom: 75px;
}

.intro-title {
    color: white;
    max-width: 700px;
    padding-top: 100px;
    font-size: 60px;
    margin: auto;
}

.intro-undertitle {
    color: gainsboro;
    margin: 20px auto 30px auto;
    max-width: 700px;
    font-size: 20px;
    line-height: 30px;
}

.intro-button {
    padding: 20px 40px;
    font-size: 15px;
    border-radius: 5px;
}

.info {
    display: flex;
    flex-direction: column;
    margin: 100px 300px 50px;
}

.info-box {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    background-color: white;
    margin-bottom: 50px;
    display: flex;
}

.info-box-cafe {
    margin: 30px;
}

.info-box-cafe > h2 {
    margin-top: 0px;
}

.info-box-cafe-img {
    width: 150px;
    height: 150px;
    align-self: center;
    margin-right: 30px;
    border-radius: 5px;
}

.info-box-cafe-labels {
    margin-right: 5px;
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background-color: #F8F9FA;
}

.info-box-cafe-button {
    border: 1px solid #d1d1d1;
    border-radius: 3px;
    background-color: #d1d1d1;
}

footer {
    text-align: center;
    color: white;
    background-color: #303B4D;
    padding: 25px;
}